In [5]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (34.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.0/34.0 MB 35.9 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [15]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.7 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [13]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.38)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.12.2)

In [6]:
import mysql.connector
from mysql.connector import Error


hostname = "yligo.h.filess.io"
database = "olistproject_capitalme"
port = "3307"
username = "olistproject_capitalme"
password = "7a07669b0b2f4f5a7151dbb0f2eb7b927e809cb2"

try:
    connection = mysql.connector.connect(host=hostname, database=database, user=username, password=password, port=port)
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL Server version  8.0.36-28
You're connected to database:  ('olistproject_capitalme',)
MySQL connection is closed

In [7]:
import pandas as pd

In [11]:
order_payments = pd.read_csv("sample_data/olist_order_payments_dataset.csv")

In [12]:
order_payments

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [17]:
from os import replace
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine
import pymysql

hostname = "yligo.h.filess.io"
database = "olistproject_capitalme"
port = "3307"
username = "olistproject_capitalme"
password = "7a07669b0b2f4f5a7151dbb0f2eb7b927e809cb2"

try:
    connection = mysql.connector.connect(host=hostname, database=database, user=username, password=password, port=port)
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

        cursor.execute('DROP TABLE IF EXISTS order_payments;')
        print('Creating table....')
        cursor.execute("CREATE TABLE olist_order_payment(order_id varchar(255),payment_sequential int,payment_type varchar(255),payment_installments int,payment_value float)")
        print("order_payments table is created....")

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL Server version  8.0.36-28
You're connected to database:  ('olistproject_capitalme',)
Creating table....
Error while connecting to MySQL 1050 (42S01): Table 'olist_order_payment' already exists
MySQL connection is closed

In [21]:
engine = create_engine(
    "mysql://olistproject_capitalme:7a07669b0b2f4f5a7151dbb0f2eb7b927e809cb2@yligo.h.filess.io:3307/olistproject_capitalme"
)

In [23]:
order_payments.to_sql("olist_order_payment",con=engine,if_exists="replace",index=False)

103886

In [25]:
engine.dispose()